<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="projet.poker"
      android:versionCode="8"
      android:versionName="1.10">
    <uses-sdk android:minSdkVersion="7" 
              android:targetSdkVersion="15" />
    <application android:label="Poker Party"
                 android:icon="@+drawable/icon">
        <activity android:name="Accueil"
                  android:label="Poker Party"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SplashScreen"
                  android:label="SplashScreen"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="Parametre"
                  android:label="Paramètres"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="APropos"
                  android:label="A propos"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="ListePartie"
                  android:label="Liste des parties"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="ListeJoueur"
                  android:label="Liste des joueurs"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="TableauJeu"
                  android:label="Table de jeu"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
